/* ---------- All ---------- */
body{
    background-image:url("https://images.pexels.com/photos/2395249/pexels-photo-2395249.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}

/* All - Nav bar and H1's */
header, h1{
    font-family: 'Dosis', sans-serif; 
}

/* All -Containers */
.container{
    background-color: #fff;
    width: fit-content;
    padding-right: 45px;
}

/* All -Paragraphs */
p{
    font-family: 'Raleway', sans-serif;
}

/* All - footers */
.footer{
    text-align: center;
    background-color:#E3C4C9;
    padding: 10px;
    border-top: #E6A3AD solid;
    color: #63273E;
    font-family: 'Dosis', sans-serif;
}

/* ----------  About Me Document  ---------- */
/* About Me image */
.float-left{
    float: left;
    width: 30%;
    margin:1em;
}

/* About Me Paragraph */
.about-me-paragraph{
    margin-top: 15px;
}

/* ----------  My Portfolio Document  ---------- */
/* Portfolio Cards */
.card{
    margin-bottom: 25px;
}

/* ----------  Contact Me Document  ---------- */
/* Contact container */
#contact-container{
    padding-bottom: 25px;
    width: 70%;
}

/* Contact form */
.form-group{
    margin-bottom: 20px;
}

 
/* font-family: 'Dosis', sans-serif;
font-family: 'Raleway', sans-serif;
 */


